<div class="col-xs-12 col-sm-6" ng-show="domain">
    <div class="alert alert-warning text-center" ng-show="!collection">{{ "Seleccciona primero una colección o créala desde 0"|trans }}</div>
    <form class="form-horizontal" ng-if="collection" onsubmit="return false;" novalidate>
        <h2 class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="collection.name" required>
                <div class="btn btn-primary input-group-addon" ng-click="addNewProperty()"
                     data-toggle="tooltip" title="{{ 'Añade una nueva propiedad a la colección'|trans }}">
                    <i class="fa fa-plus-circle"></i>&nbsp;{{ "Nueva propiedad"|trans }}
                </div>
                <div class="btn btn-danger input-group-addon" ng-click="removeCollection(selectedCollection)"
                     data-toggle="tooltip" title="{{ 'Elimina la colección del dominio'|trans }}">
                    <i class="fa fa-trash"></i>&nbsp;{{ "Eliminar colección"|trans }}
                </div>
                <div class="btn btn-success input-group-addon" ng-click="storeCollections()"
                     data-toggle="tooltip" title="{{ 'Almacenar temporalmente en el navegador'|trans }}">
                    <i class="fa fa-save"></i>
                </div>
            </div>
        </h2>
        <property data-types="types" data-model="property" data-index="$index" ng-repeat="property in collection.properties"></property>
    </form>
</div>