{% extends 'base.html.twig' %}
{% block styles %}
    {% styles
    '@NOSQL/css/styles.css'
    %}{% styles %}
{% endblock styles %}
{% block body_header %}
    <div class='page-header'>
        <h1>{{ 'NOSQL composer'|trans }}</h1>
    </div>
{% endblock body_header %}
{% block body_content %}
    <div id="nosql-admin" class='container-fluid' ng-controller="NOSQLCtrl" ng-cloak>
        <div class="row" ng-show="hasMessage">
            <p class="alert alert-success" ng-bind="message"></p>
        </div>
        <div class="row" ng-hide="waiting">
            {% include '@NOSQL/partials/domain_selector.html.twig' %}
            {% include '@NOSQL/partials/collections.html.twig' %}
            {% include '@NOSQL/partials/collection_detail.html.twig' %}
        </div>
        {% include '@NOSQL/partials/spinner.html.twig' %}
    </div>
{% endblock body_content %}
{% block scripts %}
    <script type="text/ng-template" id="/js/composer/property.html">{% include '@NOSQL/composer/property.html.twig' %}</script>
    <script type="text/ng-template" id="/js/composer/index.html">{% include '@NOSQL/composer/indexes.html.twig' %}</script>
    <script type="text/javascript">
        var translations = angular.merge(translations || {}, {
            dialog_title: '{{ "NOSQL Composer"|trans }}',
            collection_stored_successfull: '{{ "Información almacenada temporalmente en el navegador"|trans }}',
            collection_stored_fail: '{{ "No se ha podido almacenar la información, su navegador no soporta localStorage"|trans }}',
            domain_generated_success: '{{ "Se ha generado el código para las collecciones correctamente"|trans }}',
            domain_generated_fail: '{{ "Ha ocurrido un error al intentar generar las colecciones del dominio, por favor revisa el log"|trans }}',
            domain_sync_success: '{{ "Se ha sincronizado el schema de las colecciones correctamente"|trans }}',
            domain_sync_fail: '{{ "Ha ocurrido un error al intentar sincronizar las colecciones del dominio, por favor revisa el log"|trans }}'
        });
    </script>
    {% scripts
    '@ROOT/js/api/api-srv.js'
    '@NOSQL/js/app.js'
    '@NOSQL/js/composer/property.js'
    '@NOSQL/js/composer/index.js'
    %}{% endscript %}
{% endblock scripts %}

