<fieldset class="property col-xs-12" ng-cloak>
    <legend data-toggle="tooltip" title="{{ "{{ model.description }}" }}">
        <span ng-bind="getPropertyLegend()"></span>&nbsp;
        <i class="fa" ng-class="{'fa-edit':!show,'fa-eye':show}" ng-click="togglePropertyForm()"></i>
        <i class="fa fa-trash" ng-click="removeProperty()"></i>
    </legend>
    <div class="row">
        <div class="form-group col-xs-4" ng-show="show">
            <label for="name_{{ '{{ model.id }}' }}" class="control-label">{{ 'Nombre de la propiedad'|trans }}</label>
            <input type="text" id="name_{{ '{{ model.id }}' }}" ng-model="model.name" required class="form-control">
        </div>
        <div class="form-group col-xs-4" ng-show="show">
            <label for="type_{{ '{{ model.id }}' }}" class="control-label">{{ 'Tipo de propiedad'|trans }}</label>
            <select name="type" id="type_{{ '{{ model.id }}' }}" class="form-control" required ng-model="model.type">
                <option ng-repeat="type in types" ng-value="type" ng-bind="type"></option>
            </select>
        </div>
        <div class="form-group col-xs-4" ng-show="show">
            <label for="required_{{ '{{ model.id }}' }}" class="control-label">{{ 'Es requerido'|trans }}</label>
            <select name="required" id="required_{{ '{{ model.id }}' }}" class="form-control" required ng-model="model.required">
                <option ng-value="false">{{ 'No'|trans }}</option>
                <option ng-value="true">{{ 'Si'|trans }}</option>
            </select>
        </div>
        <div class="form-group col-xs-12" ng-show="show && model.type == 'enum'">
            <label for="enum_{{ '{{ model.id }}' }}" class="control-label">{{ 'Valores (separados por | )'|trans }}</label>
            <input type="text" id="enum_{{ '{{ model.id }}' }}" ng-model="model.enum" required class="form-control">
        </div>
        <div class="form-group col-xs-12" ng-show="show">
            <input type="text" id="description_{{ '{{ model.id }}' }}" ng-model="model.description" required class="form-control" placeholder="{{ 'Descripción'|trans }}">
        </div>
    </div>
</fieldset>